<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Nest Dashboard</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta property="og:title" content="" />
        <meta property="og:type" content="" />
        <meta property="og:url" content="" />
        <meta property="og:image" content="" />
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg" />
        <!-- Template CSS -->
        <link href="assets/css/main.css?v=1.1" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <div class="screen-overlay"></div>
        <%- include('partials/navbar-aside') %>

        <main class="main-wrap">
            <section class="content-main">
                <div class="content-header">
                    <h2 class="content-title">Sellers list</h2>
                  
                </div>
                <div class="card mb-4">
                    <header class="card-header">
                        <div class="row gx-3">
                            <form method="GET" action="/admin/users" class="d-flex mb-3">
                                <input
                                  type="text"
                                  name="search"
                                  class="form-control me-2"
                                  placeholder="Search by name or email"
                                  value="<%= search %>"
                                />
                                <button class="btn btn-primary" type="submit">Search</button>
                              </form>
                        
                        </div>
                    </header>
                    <!-- card-header end// -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Seller</th>
                                        <th>Email</th>
                                        <th>Status</th>
                                        <th>Registered</th>
                                        <th>Action</th>
                                        <!-- <th class="text-end">view</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <% allUser.forEach((user,index)=> { %>
                                    <tr>
                                      
                                        <td width="40%">
                                            <a href="#" class="itemside">
                                                <div class="left">
                                                    <img src="assets/imgs/people/avatar-2.png" class="img-sm img-avatar" alt="Userpic" />
                                                </div>
                                                <div class="info pl-3">
                                                    <h6 class="mb-0 title"><%=user.username%></h6>
                                                    <small class="text-muted">Seller ID: #439</small>
                                                </div>
                                            </a>
                                        </td>
                                        <td><%=user.email%></td>
                                        <td>
                                            <% if (user.status) { %>
                                              <span class="badge rounded-pill alert-success isActive-<%= index %>">Active</span>
                                            <% } else { %>
                                              <span class="badge rounded-pill alert-danger isActive-<%= index %>">Inactive</span>
                                            <% } %>
                                          </td>
                                          
                                          <td>
                                            <%= new Date(user.createdAt).toLocaleDateString() %>
                                          </td>
                                          
                                          <td>
                                            <% if (user.status) { %>
                                              <button id="<%= user._id %>" class="btn btn-sm font-sm rounded delete-btn isActive-<%= index %>"> 
                                                <i class="material-icons md-edit" id="edit-btn"></i> Block
                                              </button>
                                            <% } else { %>
                                              <button id="<%= user._id %>" class="btn btn-sm font-sm btn-light rounded delete-btn isActive-<%= index %>">
                                                <i class="material-icons md-delete_forever"></i> Unblock
                                              </button>
                                            <% } %>
                                          </td>
                                          
                                        

                                        <!-- <td class="text-end">
                                            <a href="#" class="btn btn-sm btn-brand rounded font-sm mt-15">View details</a>
                                        </td> -->
                                    </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                            <!-- table-responsive.// -->
                        </div>
                    </div>
                    <!-- card-body end// -->
                </div>
                <!-- card end// -->
                <div class="pagination-area mt-15 mb-50">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                      
                          <% if (currentPage > 1) { %>
                            <li class="page-item">
                              <a class="page-link" href="?page=<%= currentPage - 1 %>">&laquo;</a>
                            </li>
                          <% } %>
                      
                          <% for (let i = 1; i <= totalPages; i++) { %>
                            <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                              <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                            </li>
                          <% } %>
                      
                          <% if (currentPage < totalPages) { %>
                            <li class="page-item">
                              <a class="page-link" href="?page=<%= currentPage + 1 %>">&raquo;</a>
                            </li>
                          <% } %>
                      
                        </ul>
                      </nav>
                      
                </div>
            </section>
            <!-- content-main end// -->
            <footer class="main-footer font-xs">
                <div class="row pb-30 pt-15">
                    <div class="col-sm-6">
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        &copy; Nest - HTML Ecommerce Template .
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end">All rights reserved</div>
                    </div>
                </div>
            </footer>
        </main>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="assets/js/vendors/select2.min.js"></script>
        <script src="assets/js/vendors/perfect-scrollbar.js"></script>
        <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
        <script src="assets/js/userlist.js"></script>

        <!-- Main Script -->
        <script src="assets/js/main.js?v=1.1" type="text/javascript"></script>
    </body>
</html>
