<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="card-assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
  <div class="page-wrapper">



   
</head>
<body>
  <%- include('partials/header.ejs') %>
  <style>
    :root {
        --custom-pink: #c96;
        --field-bg: #F9F9F9;
    }
    
    .breadcrumb-item + .breadcrumb-item::before {
        content: "/"
    }
    
    .form-control, .form-select {
        background-color: var(--field-bg);
        border: 1px solid #dee2e6;
    }
    
    .btn-custom {
        background-color: var(--custom-pink);
        color: white;
        border: none;
    }
    
    .btn-custom:hover {
        background-color: #b85;
        color: white;
    }
    
    .delivery-radio {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
    }

       /* Custom CSS for the modal */
#addAddressModal .modal-dialog {
  max-width: 600px;
}

#addAddressModal .modal-body {
  padding: 20px;
}

#addAddressModal .form-group {
  margin-bottom: 15px;
}

    /* Custom CSS for the modal */
    #editAddressModal .modal-dialog {
  max-width: 600px;
}

#editAddressModal .modal-body {
  padding: 20px;
}

#editAddressModal .form-group {
  margin-bottom: 15px;
}

.card-dashboard{
    margin-top: 40px;

}
#add-Address-button{
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}

#add-Address-button:hover{
    background-color: rgb(173, 145, 112);
    color: antiquewhite;
}   


/* ///coupon modal */
.modal-content {
      background-color: #F3F1EA;
      border-radius: 0;
      border: none;
    }
    
    .coupon-code {
      color: #CC9966;
      border: 1px dashed #CC9966;
      padding: 5px 10px;
      display: inline-block;
      margin-bottom: 5px;
    }
    
    .coupon-item {
      border-bottom: 1px solid #e9e7e0;
      padding: 15px 0;
      margin: 0 15px;
    }
    
    .apply-btn {
      background-color: #CC9966;
      border: none;
      border-radius: 0;
      color: white;
      padding: 10px;
      font-weight: bold;
    }
    
    .modal-title {
      font-weight: bold;
      color: #333;
    }
    
    .close-btn {
      font-size: 24px;
      font-weight: bold;
      color: #333;
      background: none;
      border: none;
    }
    
    .form-check-input:checked {
      background-color: #CC9966;
      border-color: #CC9966;
    }




    .remove-modal .modal-content {
      background-color: #F3F1EA;
      border-radius: 0;
      border: none;
      padding: 20px;
    }
    
    .remove-modal .modal-header {
      border-bottom: none;
      padding-bottom: 0;
    }
    
    .remove-modal .close-btn {
      font-size: 24px;
      font-weight: bold;
      color: #333;
      background: none;
      border: none;
      padding: 0;
      position: absolute;
      right: 20px;
      top: 20px;
    }
    
    .remove-modal h2 {
      font-size: 28px;
      color: #333;
      margin-bottom: 20px;
      font-weight: 500;
    }
    
    .remove-modal .coupon-amount {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 5px;
    }
    
    .remove-modal .coupon-details {
      font-size: 16px;
      margin-bottom: 5px;
    }
    
    .remove-modal .coupon-expiry {
      font-size: 16px;
      margin-bottom: 25px;
    }
    
    .remove-modal .remove-btn {
      background-color: white;
      color: #333;
      border: 1px solid #ccc;
      border-radius: 0;
      padding: 10px;
      font-weight: 500;
      width: 100%;
      margin-top: 10px;
    }
    
    .remove-modal .remove-btn:hover {
      background-color: #f8f8f8;
    }
    
    .remove-modal .modal-body {
      padding: 0;
    }
</style>  
    <div class="container py-4 ">
        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#" class="text-decoration-none" style="color: #c96;">Home</a></li>
                <li class="breadcrumb-item"><a href="#" class="text-decoration-none" style="color: #c96;">Products</a></li>
                <li class="breadcrumb-item active">Checkout</li>
            </ol>
        </nav>

        <div class="row g-5 pt-3">
            <!-- Left Column - Address -->
            <div class="col-lg-7" >
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title mb-4">Address</h5>
                        
                      
                        <button class="btn btn-custom mb-4" id="add-Address-button">Add Address</button>
                      
                        <%if(!userAddress||userAddress?.addresses?.length==0){%>
                            <div id="no-address-alert" class="alert alert-warning text-center" role="alert">
                                No address found!
                              </div>
                         <%}else{%>
                        <%userAddress.addresses.forEach((adress,index)=>{%>

                        <div class="address-box position-relative p-3 border rounded mb-3 address-items" data-id="<%=adress._id%>" style="background-color: var(--field-bg);">
                            <div class="mb-2">
                                <strong></strong><br>
                                <strong>No:</strong> <span id="phone-<%=index%>" ><%=adress.phoneNumber%></span> <br>
                             <strong>Address:</strong>  <span id="address-<%=index%>"><%=adress.address%></span> <br>
                             <strong>addressType:</strong> <span id="addressType-<%=index%>"><%=adress.addressType%></span>
                            </div>
                            <div class="mb-3">
                                Place: <span id="place-<%=index%>" ><%= adress.place%>,
                                    <span id="locality-<%=index%>"><%=adress.locality%></span>,
                                     <span id="state-<%=index%>" ><%=adress.state%></span>,
                                     <span id="landMark-<%=index%>"><%=adress.landMark%></span>,
                                     <span id="city-<%=index%>"><%=adress.city%></span> ,
                                      <span id="pincode-<%=index%>"><%=adress.pincode%></span>
                                
                            </div>
                            <div>
                                <button class="btn btn-sm btn-outline-secondary me-2 edit-button" data-index="<%=index%>" data-id="<%=adress._id%>" >Edit Address</button>
                                <button class="btnRemove btn btn-sm btn-outline-danger " data-id="<%=adress._id%>"   >Delete Address</button>
                            </div>
                            <div class="form-check delivery-radio">
                                <input class="form-check-input" type="radio" name="deliveryAddress" value="<%=adress._id%>"  id="address1">
                                <label class="form-check-label" for="address1">
                                    Deliver Here
                                </label>
                            </div>
                        </div>
                        <% })%>

                    <%}%>

                    </div>
                </div>
            </div>
            <!-- Right Column - Cart Summary -->
            <div class="col-lg-5">
                <div class="card mb-4">
                    <div class="card-header py-3" style="background-color: #B4936E;">
                        <h5 class="card-title mb-0 text-white" style="text-align: center;">YOUR ORDER</h5>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Kg</th>
                                        <th>Qty</th>
                                        <th>price</th>
                                        <th>offer</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
<%cart.items.forEach((item,index)=>{%>
 
        <tr>
        
            <td><%=item.product.productName%></td>
            <td><%=item.kg%></td>
            <td><%=item.quantity%></td>
            <td><%=item.actualPrice%></td>
            <td><%=item.offerPrice%></td>
            <td><%=item.price%></td>
        </tr>
   
<%})%>
                                
</tbody>
                            </table>
                        </div>
        
            
                        <div>
                            <div class="d-flex justify-content-between mb-2">
                                <span>Sub Total</span>
                                <span class="text-danger">₹<%=cart.subTotal%></span>
                            </div>
                            
                            <div class="d-flex justify-content-between mb-2">
                                <span>offers</span>
                                <span class="text-danger radio"> - ₹<%=cart.subTotal -cart.total%></span>
                            </div>
                                                      
                            <div class="d-flex justify-content-between mb-2">
                              <span>Packing charges</span>
                              <span class="text-danger">+ ₹<%=packagePrice%>  </span>
                          </div>
                            <%if(cart?.coupon){%>
                              <div class="d-flex justify-content-between mb-2">
                                <span>coupon applied 
                                    <i class="bi bi-info-circle text-muted remove-icon" data-bs-toggle="tooltip" title="Coupon applied successfully" data-bs-toggle="modal" data-bs-target="#couponInfoModal"></i>
                                </span>
                                <span class="text-danger">- <%=cart?.coupon?.offerAmount%>%</span>
                            </div>
                            
                              <%}else{%>
                            <div class="d-flex justify-content-between align-items-center mb-2 coupon-modal" data-bs-toggle="modal" data-bs-target="#couponModal" style="cursor: pointer;">
                              <span>Apply Coupon</span>
                          </div>
                          <%}%>
                            
                            <div class="d-flex justify-content-between mt-3 border-top pt-3">
                                <strong>Grand Total</strong>
                                <strong class="text-danger totalAmount">
                                  <%if(cart?.coupon){%>
                                    ₹<%= (cart.total + packagePrice) - ((cart.total + packagePrice) * cart.coupon.offerAmount / 100) %>

                                 <% }else{%>
                                    ₹<%= cart.total + packagePrice%>

                                  <%}%>
                              </strong>
                              
                                                          </div>
                        </div>
                    </div>
                </div>
            
                <!-- Payment Methods Card -->
                <div class="card mb-4">
                    <div class="card-body">
                        <h6 class="card-title mb-3">Payment Methods</h6>
                        <div class="form-check mb-2">
                            <input class="form-check-input online-btn" type="radio" value="Razorpay" name="paymentMethod" id="online">
                            <label class="form-check-label" for="online">
                                Online
                            </label>
                        </div>
                        <div class="form-check mb-2">
                            <input class="form-check-input wallet-btn" type="radio" value="Wallet" data-balance="<%= walletBalance? walletBalance : 0%>" name="paymentMethod" id="wallet">
                            <label class="form-check-label" for="wallet">
                                Wallet (<%=walletBalance? walletBalance:0%>)
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input cod-btn" type="radio" value="COD" name="paymentMethod" id="cod">
                            <label class="form-check-label" for="cod">
                                Cash on Delivery
                            </label>
                        </div>
                    </div>
                </div>
            
                <button class="btn text-white w-100" id="placeorder-btn" style="background-color: #B4936E;">Place Order</button>
            </div>

            
        </div>
    </div>




    <!-- ///////////////////////////////////////////// add address modal////////////////// -->

    <div class="modal fade" id="addAddressModal" tabindex="-1" aria-labelledby="addAddressModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addAddressModalLabel">Add New Address</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form id="addAddressForm">
                <div class="form-group">
                  <label for="place">Place</label>
                  <input type="text" value="" class="form-control" id="place" name="place" required>
                </div>
                <div class="form-group">
                  <label for="state">State</label>
                  <input type="text" class="form-control" id="state" name="state" required>
                </div>
                <div class="form-group">
                  <label for="phoneNumber">Phone Number</label>
                  <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" required>
                </div>
                <div class="form-group">
                  <label for="landMark">Landmark</label>
                  <input type="text" class="form-control" id="landMark" name="landMark">
                </div>
                <div class="form-group">
                  <label for="address">Address</label>
                  <textarea class="form-control" id="address" name="address" rows="3" required></textarea>
                </div>
                <div class="form-group">
                  <label for="pincode">Pincode</label>
                  <input type="number" class="form-control" id="pincode" name="pincode" required>
                </div>
                <div class="form-group">    
                  <label for="adressType">Address Type</label>
                  <select class="form-control" id="adressType" name="adressType" required>
                    <option value="home">Home</option>
                    <option value="work">Work</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="locality">Nationality</label>
                  <input type="text" value="" class="form-control" id="locality" name="locality">
                </div>
                <div class="form-group">
                  <label for="city">City</label>
                  <input type="text" class="form-control" id="city" name="city" required>
                  <input type="hidden" id="addressId" />
    
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" id="saveAddressBtn">Save Address</button>
            </div>
          </div>
        </div>
      </div>





<!-- //////////////////////////edit addresss modal////////////////// -->

      <div class="modal fade" id="editAddressModal" tabindex="-1" aria-labelledby="addAddressModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addAddressModalLabel">Edit Address</h5>
              <button type="button" class="addModalclose" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form id="addAddressForm">
                <div class="form-group" >
                  <label for="place">Place</label>
                  <input type="text" value="g" class="form-control" id="edit-place" name="place" required>
                </div>
                <div class="form-group">
                  <label for="state">State</label>
                  <input type="text" class="form-control" id="edit-state" name="state" required>
                </div>
                <div class="form-group">
                  <label for="phoneNumber">Phone Number</label>
                  <input type="text" class="form-control" id="edit-phoneNumber" name="phoneNumber" required>
                </div>
                <div class="form-group">
                  <label for="landMark">Landmark</label>
                  <input type="text" class="form-control" id="edit-landMark" name="landMark">
                </div>
                <div class="form-group">
                  <label for="address">Address</label>
                  <textarea class="form-control" id="edit-address" name="address" rows="3" required></textarea>
                </div>
                <div class="form-group">
                  <label for="pincode">Pincode</label>
                  <input type="number" class="form-control" id="edit-pincode" name="pincode" required>
                </div>
                <div class="form-group">    
                  <label for="adressType">Address Type</label>
                  <select class="form-control" id="edit-adressType" name="adressType" required>
                    <option value="home">Home</option>
                    <option value="work">Work</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="locality">Nationality</label>
                  <input type="text" value="" class="form-control" id="edit-locality" name="locality">
                </div>
                <div class="form-group">
                  <label for="city">City</label>
                  <input type="text" class="form-control" id="edit-city" name="city" required>
                  <input type="hidden" id="addressId" />
    
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary addModalclose" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" id="saveEditAddressBtn">Save Changes</button>
            </div>
          </div>
        </div>
      </div>









<!-- //////////////////////////////////////////////coupon Modal////////////////////////////////// -->


<div class="container mt-5">
  <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#couponModal">
    Open Coupon Modal
  </button> -->

  <!-- Coupon Modal -->
  <div class="modal fade" id="couponModal" tabindex="-1" aria-labelledby="couponModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header border-0">
          <h5 class="modal-title" id="couponModalLabel">APPLY COUPON</h5>
          <button type="button" class="close-btn" data-bs-dismiss="modal" aria-label="Close" >×</button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Enter coupon code">
          </div>
          
          <div class="coupon-list" style="max-height: 300px; overflow-y: auto;">
          <%coupons.forEach((item)=>{%>
            <div class="coupon-item">
              <div class="coupon-code"><%=item.couponCode%></div>
              <div class="d-flex">
                <div class="form-check me-2">
                  <input class="form-check-input radio-btn" type="radio" data-id="<%=item._id%>" name="couponRadio" id="coupon4">
                </div>
                <div>
                  <div class="fw-bold">Save<%=item.offerAmount%></div>
                  <div><%=item.offerAmount%>% off on minimum purchase of Rs.<%=item.minimumPurchaseAmount%></div>
                  <div class="text-muted">Expires on: <%= new Date(item.expiryDate).toLocaleDateString("en-GB", { day: 'numeric', month: 'long', year: 'numeric' }) %></div>
                </div>
              </div>
            </div>
            <%})%>
          </div>
          
          <div class="mt-3 px-3">
            <div class="d-flex justify-content-between">
              <span id="maximum-savings">Maximum savings: </span>
              <span>₹0</span>
            </div>
          </div>
        </div>
        <div class="modal-footer border-0">
          <button type="button" class="btn apply-btn w-100 " id="apply-btn">APPLY</button>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- ////////////////////////////////////////////// remove modal/////////////////////////////////////////////////// -->


<div class="container mt-5">
  <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#couponInfoModal">
    Show Coupon Information
  </button> -->
<div class="modal fade remove-modal" id="couponInfoModal" tabindex="-1" aria-labelledby="couponInfoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close-btn" id="removeCouponCloseBtn">×</button>
      </div>
      <div class="modal-body">
        <h2>Coupon Information</h2>
        <%if(cart?.coupon){%>

       
        <div class="coupon-amount"> save<%=cart.coupon.offerAmount%>% </div>
        <div class="coupon-details"><%=cart.coupon.offerAmount%>% off on minimum purchase of Rs.<%=cart.coupon.minimumPurchaseAmount%></div>
        <div class="coupon-expiry">Expires on: <%= new Date(cart.coupon.expiryDate).toLocaleDateString("en-GB", { day: 'numeric', month: 'long', year: 'numeric' }) %></div>
        <button type="button" class="btn remove-btn" id="removeCouponBtn">Remove Coupon</button>
        <%}%>
      </div>

    </div>
  </div>
</div>
</div>

      <script src="card-assets/js/jquery.min.js"></script>
      <script src="card-assets/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script> 
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
  <script src="https: //cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>



  <script src="js/address.js"></script>
  <script src="js/check-out.js"></script>
  <script src="js/coupon.js"></script>
<script>
 


const modal_open_coupon_el=document.querySelector('.coupon-modal')
const btn=document.querySelector('.btn-primary')
const apply_btn=document.getElementById('apply-btn')
const radio_btn=document.querySelector('.radio-btn')

console.log(apply_btn);
  const radio_buttons = document.querySelectorAll('.radio-btn')


modal_open_coupon_el.addEventListener('click',(e)=>{
    e.preventDefault()
    const modal = btn.getAttribute('data-bs-target')
    modal.show()
})


apply_btn.addEventListener('click',async(e)=>{
    e.preventDefault()
    console.log(apply_btn);

const selectedRadio = document.querySelector('.radio-btn:checked');
    if (!selectedRadio) {
        alert("Please select a coupon!");
        return;
    }
    const couponId = selectedRadio.getAttribute('data-id');
    const couponCode = selectedRadio.closest('.coupon-item').querySelector('.coupon-code').textContent.trim();
   
   try {
    const response = await fetch('/coupon', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify( {couponCode,couponId} ) 
    });

    if (response.ok) {
        const data = await response.json();
        Swal.fire({
            position: "center",
            icon: "success",
            title: 'coupon applied',
            showConfirmButton: false,
            timer: 1500,
          }).then(() => {
            window.location.reload();
          });
    } else {
        showErrorToast('coupon cannot apply')
    }
} catch (error) {
    console.log(error);
}
})





</script>

</body>
</html>