<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/homepage.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"

    />
    <link rel="stylesheet" href="card-assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="card-assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="card-assets/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="card-assets/css/plugins/jquery.countdown.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/card-assets/css/style.css">
    <link rel="stylesheet" href="card-assets/css/skins/skin-demo-2.css">
    <link rel="stylesheet" href="card-assets/css/demos/demo-2.css">
  </head>
  <body>
    <header>
      <div class="logo">
        <img
          class="logo-img"
          src="/img/63cf30fb2b1e35ba41fe6896f9a81807.jpg"
          alt=""
        />
        <h3>CAKE CHIEF</h3>
      </div>
      <div class="icons">
        <i class="fas fa-heart"></i>
        <i class="fas fa-shopping-cart"></i>
        <i class="fas fa-search"></i>
        <i class="fas fa-person"></i>
      </div>
    </header>

    <nav>
      <ul>
        <li><a href="#">HOME</a></li>
        <li><a href="#">SHOP</a></li>
        <li><a href="#">EXPRESS DELIVERY</a></li>
        <li><a href="#">CONTACT</a></li>
        <li><a href="#">ABOUT</a></li>
      </ul>
    </nav>
    <main>
        <h1>cakes by flavours</h1>
        <h2>order your cake online</h2>
        <div class="cake-list">
            <div class="sml-cnt">
                <img src="" alt="">
            </div>
            <div class="sml-cnt1"></div>
            <div class="sml-cnt2"></div>
            <div class="sml-cnt3"></div>
            <div class="sml-cnt4"></div>
            <div class="sml-cnt5"></div>
        </div>
        <div class="banner">
            <div class="banner-head">
                <h1>chocolate</h1>
                <h2>goodness in every sllice</h2>
            </div>
            <div class="banner-img"></div>
        </div>
    </main>

      <div class="page-wrapper">
          <main class="main">
              <div class="container">
                  <ul class="nav nav-pills nav-border-anim nav-big justify-content-center mb-3" role="tablist">
                      <li class="nav-item">
                          <a class="nav-link active" id="products-featured-link" data-toggle="tab" href="#products-featured-tab" role="tab" aria-controls="products-featured-tab" aria-selected="true">Top Rated Cakes</a>
                      </li>
                    
                  </ul>
              </div><!-- End .container -->
  
              <div class="container-fluid">
                  <div class="tab-content tab-content-carousel">
                      <div class="tab-pane p-0 fade show active" id="products-featured-tab" role="tabpanel" aria-labelledby="products-featured-link">
                          <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                              data-owl-options='{
                                  "nav": false, 
                                  "dots": true,
                                  "margin": 20,
                                  "loop": false,
                                  "responsive": {
                                      "0": {
                                          "items":2
                                      },
                                      "480": {
                                          "items":2
                                      },
                                      "768": {
                                          "items":3
                                      },
                                      "992": {
                                          "items":4
                                      },
                                      "1200": {
                                          "items":5
                                      },
                                      "1600": {
                                          "items":6,
                                          "nav": true
                                      }
                                  }
                              }'>
                            
                             
                             <% allProducts.forEach(product=>  { %>
                              <div class="product product-11 text-center">
                                  <figure class="product-media">
                                      <a href="/product/<%=product._id%>">
                                          <img src="/uploads/<%=product.image[0]%>" alt="Product image" class="product-image">
                                          <img src="/uploads/<%=product.image[1]%>" alt="Product image" class="product-image-hover">
                                      </a>
  
                                      <div class="product-action-vertical">
                                          <a href="#" class="btn-product-icon btn-wishlist"><span>add to wishlist</span></a>
                                      </div><!-- End .product-action-vertical -->
  
                                  </figure><!-- End .product-media -->
  
                                  <div class="product-body">
                                      <h3 class="product-title"><a href="/product/<%=product._id%>"><%=product.productName%></a></h3><!-- End .product-title -->
                                      <div class="product-price">
                                        <%=product.price[0].price%>.rs  
                                      </div><!-- End .product-price -->
                                  </div><!-- End .product-body -->
                                  <div class="product-action">
                                      <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                  </div><!-- End .product-action -->
                              </div><!-- End .product -->
                              <% }) %>
                          </div><!-- End .owl-carousel -->
                      </div><!-- .End .tab-pane -->
                      <div class="tab-pane p-0 fade" id="products-sale-tab" role="tabpanel" aria-labelledby="products-sale-link">
                          <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                              data-owl-options='{
                                  "nav": false, 
                                  "dots": true,
                                  "margin": 20,
                                  "loop": false,
                                  "responsive": {
                                      "0": {
                                          "items":2
                                      },
                                      "480": {
                                          "items":2
                                      },
                                      "768": {
                                          "items":3
                                      },
                                      "992": {
                                          "items":4
                                      },
                                      "1200": {
                                          "items":5
                                      },
                                      "1600": {
                                          "items":6,
                                          "nav": true
                                      }
                                  }
                              }'>
                              <div class="product product-11 text-center">
                                  <figure class="product-media">
                                      <a href="product.html">
                                          <img src="assets/images/demos/demo-2/products/product-5-1.jpg" alt="Product image" class="product-image">
                                          <img src="assets/images/demos/demo-2/products/product-5-2.jpg" alt="Product image" class="product-image-hover">
                                      </a>
  
                                      <div class="product-action-vertical">
                                          <a href="#" class="btn-product-icon btn-wishlist"><span>add to wishlist</span></a>
                                      </div><!-- End .product-action-vertical -->
  
                                  </figure><!-- End .product-media -->
  
                                  <div class="product-body">
                                      <h3 class="product-title"><a href="product.html">Petite Table Lamp</a></h3><!-- End .product-title -->
                                      <div class="product-price">
                                          $675,00
                                      </div><!-- End .product-price -->
  
                                      <div class="product-nav product-nav-dots">
                                          <a href="#" class="active" style="background: #74543e;"><span class="sr-only">Color name</span></a>
                                          <a href="#" style="background: #e8e8e8;"><span class="sr-only">Color name</span></a>
                                      </div><!-- End .product-nav -->
                                  </div><!-- End .product-body -->
                                  <div class="product-action">
                                      <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                  </div><!-- End .product-action -->
                              </div><!-- End .product -->
  
                              <div class="product product-11 text-center">
                                  <figure class="product-media">
                                      <a href="product.html">
                                          <img src="assets/images/demos/demo-2/products/product-6-1.jpg" alt="Product image" class="product-image">
                                          <img src="assets/images/demos/demo-2/products/product-6-2.jpg" alt="Product image" class="product-image-hover">
                                      </a>
  
                                      <div class="product-action-vertical">
                                          <a href="#" class="btn-product-icon btn-wishlist"><span>add to wishlist</span></a>
                                      </div><!-- End .product-action-vertical -->
  
                                  </figure><!-- End .product-media -->
  
                                  <div class="product-body">
                                      <h3 class="product-title"><a href="product.html">Elephant Armchair</a></h3><!-- End .product-title -->
                                      <div class="product-price">
                                          $457,00
                                      </div><!-- End .product-price -->
                                  </div><!-- End .product-body -->
                                  <div class="product-action">
                                      <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                  </div><!-- End .product-action -->
                              </div><!-- End .product -->
  
                              <div class="product product-11 text-center">
                                  <figure class="product-media">
                                      <a href="product.html">
                                          <img src="card-assets/images/demos/demo-2/products/product-1-1.jpg" alt="Product image" class="product-image">
                                          <img src="card-assets/images/demos/demo-2/products/product-1-2.jpg" alt="Product image" class="product-image-hover">
                                      </a>
  
                                      <div class="product-action-vertical">
                                          <a href="#" class="btn-product-icon btn-wishlist"><span>add to wishlist</span></a>
                                      </div><!-- End .product-action-vertical -->
  
                                  </figure><!-- End .product-media -->
  
                                  <div class="product-body">
                                      <h3 class="product-title"><a href="product.html">Butler Stool Ladder</a></h3><!-- End .product-title -->
                                      <div class="product-price">
                                          $251,00
                                      </div><!-- End .product-price -->
                                  </div><!-- End .product-body -->
                                  <div class="product-action">
                                      <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                  </div><!-- End .product-action -->
                              </div><!-- End .product -->
                          </div><!-- End .owl-carousel -->
                      </div><!-- .End .tab-pane -->
                      <div class="tab-pane p-0 fade" id="products-top-tab" role="tabpanel" aria-labelledby="products-top-link">
                          <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                              data-owl-options='{
                                  "nav": false, 
                                  "dots": true,
                                  "margin": 20,
                                  "loop": false,
                                  "responsive": {
                                      "0": {
                                          "items":2
                                      },
                                      "480": {
                                          "items":2
                                      },
                                      "768": {
                                          "items":3
                                      },
                                      "992": {
                                          "items":4
                                      },
                                      "1200": {
                                          "items":5
                                      },
                                      "1600": {
                                          "items":6,
                                          "nav": true
                                      }
                                  }
                              }'>
                              <div class="product product-11 text-center">
                                  <figure class="product-media">
                                      <a href="product.html">
                                          <img src="assets/images/demos/demo-2/products/product-2-1.jpg" alt="Product image" class="product-image">
                                          <img src="assets/images/demos/demo-2/products/product-2-2.jpg" alt="Product image" class="product-image-hover">
                                      </a>
  
                                      <div class="product-action-vertical">
                                          <a href="#" class="btn-product-icon btn-wishlist"><span>add to wishlist</span></a>
                                      </div><!-- End .product-action-vertical -->
                                  </figure><!-- End .product-media -->
  
                                  <div class="product-body">
                                      <h3 class="product-title"><a href="product.html">Octo 4240</a></h3><!-- End .product-title -->
                                      <div class="product-price">
                                          $746,00
                                      </div><!-- End .product-price -->
  
                                      <div class="product-nav product-nav-dots">
                                          <a href="#" class="active" style="background: #1f1e18;"><span class="sr-only">Color name</span></a>
                                          <a href="#" style="background: #e8e8e8;"><span class="sr-only">Color name</span></a>
                                      </div><!-- End .product-nav -->
                                  </div><!-- End .product-body -->
                                  <div class="product-action">
                                      <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                  </div><!-- End .product-action -->
                              </div><!-- End .product -->
  
                              <div class="product product-11 text-center">
                                  <figure class="product-media">
                                      <span class="product-label label-circle label-new">New</span>
                                      <a href="product.html">
                                          <img src="assets/images/demos/demo-2/products/product-3-1.jpg" alt="Product image" class="product-image">
                                          <img src="assets/images/demos/demo-2/products/product-3-2.jpg" alt="Product image" class="product-image-hover">
                                      </a>
  
                                      <div class="product-action-vertical">
                                          <a href="#" class="btn-product-icon btn-wishlist"><span>add to wishlist</span></a>
                                      </div><!-- End .product-action-vertical -->
  
                                  </figure><!-- End .product-media -->
  
                                  <div class="product-body">
                                      <h3 class="product-title"><a href="product.html">Flow Slim Armchair</a></h3><!-- End .product-title -->
                                      <div class="product-price">
                                          $970,00
                                      </div><!-- End .product-price -->
                                  </div><!-- End .product-body -->
                                  <div class="product-action">
                                      <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                  </div><!-- End .product-action -->
                              </div><!-- End .product -->
  
                              <div class="product product-11 text-center">
                                  <figure class="product-media">
                                      <span class="product-label label-circle label-sale">Sale</span>
                                      <a href="product.html">
                                          <img src="assets/images/demos/demo-2/products/product-4-1.jpg" alt="Product image" class="product-image">
                                          <img src="assets/images/demos/demo-2/products/product-4-2.jpg" alt="Product image" class="product-image-hover">
                                      </a>
  
                                      <div class="product-action-vertical">
                                          <a href="#" class="btn-product-icon btn-wishlist"><span>add to wishlist</span></a>
                                      </div><!-- End .product-action-vertical -->
  
                                  </figure><!-- End .product-media -->
  
                                  <div class="product-body">
                                      <h3 class="product-title"><a href="product.html">Roots Sofa Bed</a></h3><!-- End .product-title -->
                                      <div class="product-price">
                                          <span class="new-price">$337,00</span>
                                          <span class="old-price">Was $449,00</span>
                                      </div><!-- End .product-price -->
  
                                      <div class="product-nav product-nav-dots">
                                          <a href="#" class="active" style="background: #878883;"><span class="sr-only">Color name</span></a>
                                          <a href="#" style="background: #dfd5c2;"><span class="sr-only">Color name</span></a>
                                      </div><!-- End .product-nav -->
                                  </div><!-- End .product-body -->
                                  <div class="product-action">
                                      <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                  </div><!-- End .product-action -->
                              </div><!-- End .product -->
                          </div><!-- End .owl-carousel -->
                      </div><!-- .End .tab-pane -->
                  </div><!-- End .tab-content -->
              </div><!-- End .container-fluid -->

  </body>

  <script src="card-assets/js/jquery.min.js"></script>
    <script src="card-assets/js/bootstrap.bundle.min.js"></script>
    <script src="card-assets/js/jquery.hoverIntent.min.js"></script>
    <script src="card-assets/js/jquery.waypoints.min.js"></script>
    <script src="card-assets/js/superfish.min.js"></script>
    <script src="card-assets/js/owl.carousel.min.js"></script>
    <script src="card-assets/js/jquery.plugin.min.js"></script>
    <script src="card-assets/js/jquery.magnific-popup.min.js"></script>
    <script src="card-assets/js/jquery.countdown.min.js"></script>
    <!-- Main JS File -->
    <script src="card-assets/js/main.js"></script>
    <script src="card-assets/js/demos/demo-2.js"></script>
</html>
